.square {
    -fx-border-style: solid;
}

.selected {
    -fx-background-color: silver;
}

.selectable1 {
    -fx-border-width: 5;
    -fx-background-color: rgb(255,153,153);
}
.selectable2 {
    -fx-border-width: 5;
    -fx-background-color: rgb(153,153,255);
}

.square:hover {
    -fx-background-color: ghostwhite;
}

